body
{
  font-family: 'Milio', sans-serif;
  background: #F3F3F3;
}
p, h1, h2, h3 {
  margin: 0; }

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}
h2 {
  text-align: center;
}

.cards{
  padding: 14px 50px;
  position: relative;
  .list{
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .element {
      max-width: 380px;
      padding: 20px;
      background: white;
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 10px 0 10px;
       .element-image {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
         .image {
          max-width: 200px;
          max-height: 200px;
        }
      }
       .section {
        font-weight: bold;
        font-size: 17px;
        .values {
          font-weight: normal;
        }
      }
       .section:not(:last-child) {
        padding-bottom: 8px;
      }
       .rating {
        display: flex;
        justify-content: space-between;
      }
      .button {
        width: 132px;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid #EB5A1E;
        border-radius: 30px;
        color: #EB5A1E;
        line-height: 19px;
      }
      .button:hover {
        cursor: pointer;
        border: 1px solid #EB5A1E;
        color: #FFFFFF;
        background: #EB5A1E;
      }
    }
    & .element:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  & .cart {
    margin: 0 auto;
    width: 800px;
    padding-bottom: 64px;
    & .list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      & .list-cart {
        margin-bottom: 20px;
        max-width: 500px;
        width: 100%;
        padding: 4px;
        border: 2px solid black;
        border-radius: 3px;
        list-style-type: none;
        background: #FFFFFF;
        & .element-image {
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          & .image {
            max-width: 200px;
            max-height: 200px;
          }
        }
        & .section {
          font-weight: bold;
          font-size: 17px;
          & .values {
            font-weight: normal;
            & .change-button {
              border-radius: 50px;
            }
          }
        }
        & .button {
          width: 132px;
          height: 40px;
          background: #FFFFFF;
          border: 1px solid #EB5A1E;
          border-radius: 30px;
          color: #EB5A1E;
          line-height: 19px;
          margin: 8px;
        }
        & .button:hover {
          cursor: pointer;
          border: 1px solid #EB5A1E;
          color: #FFFFFF;
          background: #EB5A1E;
        }
      }
    }
  }
  & .cart-total {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    background: #34be1a;
    color: #FFFFFF;
  }
}

.transition-button {
  position: absolute;
  top:0;
  right: 50px;
  border: 2px solid #8b00ff;
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
  margin: 15px 0 15px 0;
}

@media screen and (min-width: 1800px) {
  .cards{
    .list{
      .element {
        margin: 0 45px 0 45px;
        max-width: 400px;
      }
    }
  }
}

@media screen and (max-width: 1800px) {
  .cards{
    .list{
      .element {
        margin: 0 45px 0 45px;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .cards{
    .list{
      .element {
        margin: 0 25px 0 25px;
      }
    }
  }
}

@media screen and (max-width: 1407px) {
  .cards{
    .list{
      .element {
        margin: 0 15px 0 15px;
      }
    }
  }
}
